<br /><table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760"  class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="2">
      Total Statistics ({first} to {last}) for Site '{client}'
    </th>
  </tr>
  <tr valign="baseline" bgcolor="#bdd0e1">
    <td align="left" bgcolor="#a9bbcf" width="75%"  class="th2">
      Total Page Impressions (ie. displayed by users)
    </td>
    <td align="right" width="25%">
      {total_pi}
    </td>
  </tr>
  <tr valign="baseline" bgcolor="#bdd0e1">
    <td align="left" bgcolor="#a9bbcf" class="th2">
      Total Visits (user "sessions")
    </td>
    <td align="right">
      {total_visits}
    </td>
  </tr>
</table>

<br />

<a id="monthly_statistics" name="monthly_statistics"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760"  class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="5">
      Monthly Statistics
    </th>
  </tr>
  <tr valign="baseline" bgcolor="#bdd0e1"  class="th2">
    <td bgcolor="#a9bbcf" width="20%">
      &nbsp;
    </td>
    <td align="center" bgcolor="#a9bbcf" colspan="2" width="40%">
      Page Impressions
    </td>
    <td align="center" bgcolor="#a9bbcf" colspan="2" width="40%">
      Visits
    </td>
  </tr>
  {monthly_statistics}
</table>
<br />

<a id="pages" name="pages"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760" class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="4">
      Visited Pages   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [ total = {total_pages} ]
    </th>
  </tr>
  <tr valign="baseline" bgcolor="#bdd0e1"  class="th2">
    <td bgcolor="#a9bbcf" width="10%">
      &nbsp;
    </td>
    <td align="left" bgcolor="#a9bbcf" colspan="2" width="20%">
      Page hits
    </td>
    <td align="left" bgcolor="#a9bbcf" width="70%">
      Page
    </td>
  </tr>
  {pages}
</table>

<br />

<a id="referers" name="referers"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760"  class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="4">
      Referers &nbsp;&nbsp;(coming from)   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [ total = {total_referers} ]
    </th>
  </tr>
  <tr  class="th2">
    <td bgcolor="#a9bbcf" width="10%">
      &nbsp;
    </td>
    <td align="left" bgcolor="#a9bbcf" colspan="2" width="20%">
      Visitors refered here
    </td>
    <td align="left" bgcolor="#a9bbcf" width="70%">
      Referer
    </td>
  </tr>
  {referers}
</table>

<br />

<a id="entry_pages" name="entry_pages"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760" class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="4">
      Entry Pages  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [ total = {total_entry_pages} ]
    </th>
  </tr>
  <tr  class="th2">
    <td bgcolor="#a9bbcf" width="10%">
      &nbsp;
    </td>
    <td align="left" bgcolor="#a9bbcf" colspan="2" width="20%">
      Visitors entered here
    </td>
    <td align="left" bgcolor="#a9bbcf" width="70%">
      Page
    </td>
  </tr>
  {entry_pages}
</table>

<br />

<!-- 
 
	EXIT TARGETS: disbled because we dont parse exit links...
 
<a id="exit_pages" name="exit_pages"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760"  class="stat">
  <tr valign="middle" bgcolor="#79a0c7">
    <th align="center" colspan="4" class="th">
      Top {limit} of {total_exit_pages} Total Exit Pages
    </th>
  </tr>
  <tr  class="th2">
    <td bgcolor="#a9bbcf" width="10%">
      &nbsp;
    </td>
    <td align="left" bgcolor="#a9bbcf" colspan="2" width="20%">
      Visitors exited here
    </td>
    <td align="left" bgcolor="#a9bbcf" width="70%">
      Page
    </td>
  </tr>
  {exit_pages}
</table>

<br />

<a id="exit_targets" name="exit_targets"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760"  class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="4">
      Top {limit} of {total_exit_targets} Total Exit Targets
    </th>
  </tr>
  <tr>
    <td bgcolor="#a9bbcf" width="10%"  class="th2">
      &nbsp;
    </td>
    <td align="left" bgcolor="#a9bbcf" colspan="2" width="20%">
      Clicks
    </td>
    <td align="left" bgcolor="#a9bbcf" width="70%">
      Target URL
    </td>
  </tr>
  {exit_targets}
</table>

-->
