<br /><a id="search_engines" name="search_engines"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760"  class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="4">
      Search Engines &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [ total = {total_search_engines} ]
    </th>
  </tr>
  <tr  class="th2">
    <td bgcolor="#a9bbcf" width="10%">
      &nbsp;
    </td>
    <td align="left" bgcolor="#a9bbcf" colspan="2" width="20%">
      Visitors used this
    </td>
    <td align="left" bgcolor="#a9bbcf" width="70%">
      Search Engine
    </td>
  </tr>
  {search_engines}
</table>

<br />

<a id="search_keywords" name="search_keywords"></a>
<table cellspacing="1" cellpadding="3" align="center" bgcolor="#000000" border="0" width="760"  class="stat">
  <tr valign="middle" bgcolor="#79a0c7"  class="th">
    <th align="center" colspan="4">
      Search Keywords &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [ total = {total_search_keywords} ]
    </th>
  </tr>
  <tr  class="th2">
    <td bgcolor="#a9bbcf" width="10%">
      &nbsp;
    </td>
    <td align="left" bgcolor="#a9bbcf" colspan="2" width="20%">
      Visitors searched for this
    </td>
    <td align="left" bgcolor="#a9bbcf" width="70%">
      Search Keyword(s)
    </td>
  </tr>
  {search_keywords}
</table>
